@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#haa{
    border-left-radius: 15px;
    border-right-radius: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Gantari", sans-serif;
}

.container {
    max-width: 1040px !important;
    margin: 0 auto !important;
}

@media (max-width: 500px) {
    .container {
        padding: 0px 20px;
    }

    #haa{
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
    }
}

iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border:none;
}


textarea {
    resize: none;
}

textarea::-webkit-resizer {
    display: none;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}